<div id="userWrapper">
  <div id="coreDetails">
    <dl class="dl-horizonal">
      <dt>First Name</dt>
      <dd>{{firstName}}
      <dt>Surname</dt>
      <dd>{{surName}}</dd>
    </dl>    
  </div>
</div>
